{
  "openapi": "3.0.0",
  "info": {
    "title": "Blockvision Monad Testnet API",
    "version": "1.0.0",
    "description": "API endpoints to retrieve tokens, NFTs, account activities, transactions, internal transactions, token activities, collection activities, token holders, native MON holders, and collection holders on the Monad Testnet.\n"
  },
  "servers": [
    {
      "url": "https://api.blockvision.org"
    }
  ],
  "paths": {
    "/v2/monad/account/tokens": {
      "get": {
        "summary": "Retrieve Account Tokens",
        "description": "Returns all tokens currently held by any given address on the Monad Testnet, including the native Monad coin and ERC-20 tokens.\n",
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "The address to retrieve tokens for. Defaults to 0x7E57aCbF462f4dB265383463Ca05509F31fC5b0B.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the account tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/account/nfts": {
      "get": {
        "summary": "Retrieve Account NFTs",
        "description": "Returns all non-fungible tokens currently held by any given address on the Monad Testnet.\n",
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "The address to retrieve NFTs for. Defaults to 0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageIndex",
            "description": "Page index for paginated results. Returns a fixed number of 5 collections per page.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing the account NFTs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/account/activities": {
      "get": {
        "summary": "Retrieve Account Activity",
        "description": "Returns the historical activity of any address on the Monad Testnet.\n",
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "The address to retrieve historical activity for. Defaults to 0x581b1Dd14731EFE7986Db62E2A003E859147eD14.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Cursor for pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit of activities to return. Default is 20 and maximum is 50.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing account activities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/account/transactions": {
      "get": {
        "summary": "Retrieve Account Transactions",
        "description": "Returns all transactions of any given address on the Monad Testnet.\n",
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "The address to retrieve transactions for. Defaults to 0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Cursor for pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit of transactions to return. Default is 20 and maximum is 50.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing account transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/account/internal/transactions": {
      "get": {
        "summary": "Retrieve Account Internal Transactions",
        "description": "Returns all internal transactions of any given address on the Monad Testnet.\n",
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "The address to retrieve internal transactions for. Defaults to 0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter for internal transactions. Options: all, from, to. Defaults to 'all'.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "from",
                "to"
              ],
              "default": "all"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Cursor for pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit of internal transactions to return. Default is 20 and maximum is 50.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing internal transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/token/activities": {
      "get": {
        "summary": "Retrieve Token Activities",
        "description": "Returns all activities of a given token contract on the Monad Testnet.\n",
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "The address to retrieve token activities for. Defaults to 0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB"
            }
          },
          {
            "in": "query",
            "name": "tokenAddress",
            "description": "The token contract address. Defaults to 0x8f01C14F15966aE671035F1ED78334fC32a7AB6b.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0x8f01C14F15966aE671035F1ED78334fC32a7AB6b"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Cursor for pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit of token activities to return. Default is 20 and maximum is 50.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing token activities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/collection/activities": {
      "get": {
        "summary": "Retrieve Collection Activities",
        "description": "Returns all activities of a given non-fungible token contract on the Monad Testnet.\n",
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "The address to retrieve collection activities for. Defaults to 0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0x290b7C691Ee1FB118120f43E1A24d68B45CB27FB"
            }
          },
          {
            "in": "query",
            "name": "collectionAddress",
            "description": "The NFT contract address. Defaults to 0x43D1CF839F5A39A63D90920d1A738697DDbE42bD.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0x43D1CF839F5A39A63D90920d1A738697DDbE42bD"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Cursor for pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Limit of collection activities to return. Default is 20 and maximum is 50.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing collection activities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/token/holders": {
      "get": {
        "summary": "Retrieve Token Holders",
        "description": "Returns the token distribution of a given token contract on the Monad Testnet, including the addresses, amounts, and their percentage of the total supply.\n",
        "parameters": [
          {
            "in": "query",
            "name": "contractAddress",
            "description": "The token contract address. Defaults to 0x760AfE86e5de5fa0Ee542fc7B7B713e1c5425701.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0x760AfE86e5de5fa0Ee542fc7B7B713e1c5425701"
            }
          },
          {
            "in": "query",
            "name": "pageIndex",
            "description": "Page index.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items per page. Default is 20 and maximum is 50.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing token holders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/native/holders": {
      "get": {
        "summary": "Retrieve Monad Holders",
        "description": "Returns the top 1000 MON holders, including the addresses, amounts, and their percentage of the total supply.\n",
        "parameters": [
          {
            "in": "query",
            "name": "pageIndex",
            "description": "Page index.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items per page. Default is 20 and maximum is 50.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing MON holders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/monad/collection/holders": {
      "get": {
        "summary": "Retrieve Collection Holders",
        "description": "Returns the NFT distribution of a given non-fungible token contract on the Monad Testnet, including the addresses, amounts, and their percentage of the total supply.\n",
        "parameters": [
          {
            "in": "query",
            "name": "contractAddress",
            "description": "The NFT contract address. Defaults to 0xdd23adE69Fc2FE1934AA36C5aB12F6DC58a3446f.\n",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0xdd23adE69Fc2FE1934AA36C5aB12F6DC58a3446f"
            }
          },
          {
            "in": "query",
            "name": "pageIndex",
            "description": "Page index.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Number of items per page. Default is 20 and maximum is 50.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing collection holders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}